<div class="col-lg-12">
  <div class="col-lg-3">
    <label>Name</label><input class="form-control" type="text" [(ngModel)]="currentSnippet.name">
  </div>
  <div class="col-lg-3">
    <label>Language</label><select class="form-control" type="text" [(ngModel)]="currentSnippet.language">
        <option *ngFor="let option of languageList" [ngValue]="option.language">{{option.language}}</option>
    </select>
  </div>
  <div class="col-lg-3">
    <label appColor>Code</label><input class="form-control" type="text" [(ngModel)]="currentSnippet.code">
  </div>
  <div class="col-lg-3">
    <button class="btn btn-primary" (click)="updateSnippets()">Update Snippet</button>
    <button class="btn btn-danger" (click)="deleteSnippets()">Delete Snippet</button>
  </div>
</div>
