<h1>List Of Snippets</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Language</th>
      <th>Code</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listOfSnippets">
      <th>{{ item.id }}</th>
      <th>{{ item.name }}</th>
      <th>{{ item.language }}</th>
      <th appColor>{{ item.code }}</th>
      <th>
        <span class="glyphicon glyphicon-pencil" [routerLink]="['/viewSnippet', item.id]"></span>
      </th>
    </tr>
  </tbody>
</table>

<button class="btn-primary" (click)="showAddToggle()">{{showAdd ? 'Cancel':'Create'}}</button>
<div *ngIf='showAdd'>
<app-add-snippet (newSnippetAdded)='updateSnippet($event)'></app-add-snippet>
</div>
<router-outlet></router-outlet>
